.Darker-theme {
	color-scheme: dark;
	--primary-text: #FFF;
	--primary-bg: #1a1a20;
	--black: #000;
	--message-bg-hover: #24242b;
	--typing-bg: #161616;
	--timestamp-color: #a2a2a2;
	--code-bg: #101014;
	--user-info-bg: #1a1a20;
	--user-dock-bg: #1a1a20;
	--channels-bg: #24242b;
	--channel-hover: #2f2f38;
	--blank-bg: #1b1b1b;
	--light-border: #92929B;
	--settings-hover: #0e0d10;
	--quote-bg: #818094;
	--button-bg: #1b1b28;
	--textarea-bg: #24242b;
	--filename: #47bbff;
	--mention-bg: #F00;
	--pronouns: #898989;
	--profile-bg: #202028;
	--profile-info-bg: #1a1a20;
	--server-border: #22222a;
	--server-bg: #24242b;
	--reply-border: #474b76;
	--reply-bg: #0b0d20;
	--reply-text: #acacac;
	--spoiler-hover: #111111;
	--spoiler-open-bg: #1e1e1e;
	--unknown-file-bg: #141316;
	--unknown-file-border: #474555;
	--login-border: #131315;
	--loading-bg: #22232c;
	--dialog-bg: #1a1a20;
	--dialog-border: #1c1b31;
	--scrollbar-track: #34313c;
	--scrollbar-thumb: #201f29;
	--scrollbar-thumb-hover: #16161f;
	--embed: #1a1823;
}