.WHITE-theme {
	color-scheme: light;
	--primary-text: #000;
	--primary-bg: #FFF;
	--black: #FFF;
	--message-bg-hover: #dedee2;
	--typing-bg: #dad8d8;
	--timestamp-color: #929297;
	--code-bg: #cbcbcc;
	--user-info-bg: #b0abc2;
	--user-dock-bg: #b2b2c4;
	--channels-bg: #cbcbd8;
	--channel-hover: #b8b5cc;
	--blank-bg: #ceccdd;
	--light-border: #96959e;
	--settings-hover: #b5b1bb;
	--quote-bg: #7a798e;
	--button-bg: #b7b7cc;
	--textarea-bg: #b1b6ce;
	--filename: #47bbff;
	--mention-bg: #F00;
	--pronouns: #6a6a6d;
	--profile-bg: #cacad8;
	--profile-info-bg: #bbbbce;
	--server-border: #bebed3;
	--server-bg: #c0c0d4;
	--reply-border: #b1b2bd;
	--reply-bg: #d4d6e9;
	--reply-text: #2e2e30;
	--spoiler-hover: #b9b9b9;
	--spoiler-open-bg: #dadada;
	--unknown-file-bg: #bdbdbd;
	--unknown-file-border: #adadad;
	--login-border: #c3c0e0;
	--loading-bg: #b5b7cc;
	--dialog-bg: #c1c8d6;
	--dialog-border: #b9b7db;
	--scrollbar-track: #d5d1e2;
	--scrollbar-thumb: #b0afc0;
	--scrollbar-thumb-hover: #a5a5b8;
	--embed: #f2f3f5;
}